<!-- Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min Myat Min  -->

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h6 class="modal-title" ng-bind-html="title"></h6>
      </div>
      <div class="modal-body" ng-show="content">
  <!-- <form class="p-x-xs"> -->
    <div class="form-group row">
      <label class="col-sm-2 form-control-label">Question</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="{{question.question}}">
      </div>      
    </div>
    <div class="form-group row">
          <label class="col-sm-2 form-control-label">Answer Type</label>
          <div class="col-sm-10">
          <button type="button" class="btn white" 
            ng-model="question.answerType" data-html="1"  data-animation="am-flip-x" 
            bs-options="answerType.value as answerType.label for answerType in answerTypes" 
            bs-select>
            Action <span class="caret"></span>
          </button>
          </div>
    </div>
    <div class="form-group row">

      <div class="col-sm-12" ng-if="question.answerType == 'choice'">
      
      <table class="table table-hover m-a-0">
            <tr style="font-weight: bold">
              <td style="width:35%">Answer</td>
              <td style="width:25%">Edit</td>
            </tr>
            <tr ng-repeat="answer in question.answers">
              <td class="v-middle">
                <!-- editable username (text with validation) -->
                <span editable-text="answer.name" e-name="name" e-form="rowform" onbeforesave="checkAnswer($index, $data, answer)" e-required>
                  {{ answer.name || 'empty' }}
                </span>
              </td>
              <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="saveAnswer($index, $data, answer)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == answer">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
                    save
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel(); cancelAnswer($index, $data, answer);" class="btn btn-sm white">
                    cancel
                  </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                  <button class="btn btn-sm btn-info" ng-click="rowform.$show()">edit</button>
                  <button class="btn btn-sm btn-danger" ng-click="removeAnswer($index)">del</button>
                </div>  
              </td>
            </tr>
          </table>
          <div class="dker p-a b-t">
            <button class="btn btn-info" ng-click="addAnswer()">Add answer</button>
          </div>
      </div>
    </div>

    <div class="form-group row" ng-if="question.answerType =='open'">
      <label class="col-sm-2 form-control-label">Placeholder</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="question.placeholder">
      </div>      
    </div>

    <div class="form-group row">
      <label class="col-sm-2 form-control-label">Question Type</label>
      <div class="col-sm-10">
        <label class="md-check">
          <input type="radio" name="radio" ng-model="question.questionType" value="regular">
          <i class="indigo"></i>
          Regular question
        </label>
        <br />
        <label class="md-check">
          <input type="radio" name="radio" ng-model="question.questionType" value="conditional">
          <i class="indigo"></i>
          Conditional question
        </label>
      </div>
    </div>
    <div class="form-group row" ng-if="question.questionType =='conditional'">
      <label class="col-sm-2 form-control-label">Trigger Question</label>
      <div class="col-sm-10">
          <button type="button" class="btn white" 
            ng-model="question.triggerQuestion" data-html="1"  data-animation="am-flip-x" 
            bs-options="question.id as question.question for question in topic.questions | filter:{answerType:'choice'}" 
            bs-select>
            Action <span class="caret"></span>
          </button>
          </div>
    </div>
<!-- </form> -->
</div>
<div class="modal-footer m-l-n m-r-n m-b-n">

  <button type="button" class="btn info" ng-click="$hide()">Save changes</button>
  <button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
  <button type="button" class="btn btn-default" ng-click="$hide()">Remove From Survey</button>

</div>
    </div>
  </div>
</div>