<div class="p-a white lt box-shadow">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="m-b-0 _300">Welcome to {{surveyTemplate.title}}</h4>
      <small class="text-muted">Create survey <strong>template</strong> for later use.</small>
    </div>
    <div class="col-sm-6 text-sm-right">
      <div class="m-y-sm p-a">
        <div class="inline pull-right" style="position: relative;">
          <a class="nav-link" href data-toggle="dropdown">
          <i class="fa fa-fw fa-plus text-muted"></i> <span>Elements</span></a>
          <div class="dropdown-menu dropdown-menu-scale">
            <a class="dropdown-item"><span>Choice</span></a>
            <a class="dropdown-item"><span>Weight</span></a>
            <a class="dropdown-item"><span>Textbox</span></a>
            <a class="dropdown-item"><span>Staff Name</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="padding">
  <div class="box" ng-repeat="topic in surveyTemplate.topics">
    <div class="box-header">
      <h2><span editable-text="topic.topic">{{ topic.topic || 'Empty Topic' }}</span></h2>
    </div>
      <div ui-jp="nestable" class="dd p-a" >
        <ol class="dd-list dd-list-handle">
          <li class="dd-item" data-id="{{question.id}}" ng-repeat="question in topic.questioins">
              <div class="dd-content box">
                <div class="dd-handle"><i class="fa fa-reorder text-muted"></i></div>
                  <span editable-text="question.question">{{question.question}}</span>
                  <a ng-controller="ModalCtrl" data-animation="am-fade-and-slide-top" data-content-template="../views/blocks/survey.modal.content.html" bs-modal="{{question.id}}" ng-modal="question" >
                    <span class="pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</span>
                  </a>
              </div>
          </li>
        </ol>
      </div>
  </div>
</div>

